@import url('styles.css');

.search_section {
    width: 100%;
    height: 400px;
    text-align: center;
}

.search_section ul {
    list-style-type: none;
}

.search_section li {
    width: 100%;
}

